/*common start*/
body{
  margin:0;
  padding:0;
}
header{
  /* border: 1px solid black; */
  padding: 10px 0;
}
/*common end*/
/*header start*/
.container{
  width: 90%;
  /* border: 1px solid red; */
  margin: 0 auto;
  overflow: hidden;
}

.logo{
  width: 15%;
  /* border: 1 px solid red; */
  float: left;
}
.logo img{  
  margin-top: 25px;
  width:50%;
}
.menu{
  width: 35%;
  /* border: 1px solid red; */
  float: right;
}
.menu ul{
  
}
.menu ul li{
  list-style: none;
  float: left;
}
.menu ul li a{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  margin: 30px 20px;
  display: inline-block;
}
.menu ul li:last-child a{
  margin-right: 0;
}
/*header end*/
/*banner start*/
.banner{
  padding: 60px 0;
  border: 1px solid red;
}
.container2{
  width: 55%;
  margin: 0 auto;
  /* border: 1px solid yellow; */
}
.b_content{
  text-align: center;
}
.b_content h1{
  margin: 0;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: black;
}
.b_content h2{
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: blue;
}
.b_content p{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: 23px;
  word-spacing: 1px;
}
.b_img{
  margin: 0 auto;
  width: 75%;
  /* border: 1px solid red; */
}
.b_img img{
  width:100%
}
/*banner end*/
/* success start*/
.success{}
.s_content{}
.s_left{}
.s_left h2{}
.s_left p{}
.s_right{}
.s_right h1{}
/* success end */
